body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}



.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}



.header {
    border-bottom: 1px solid #e7e9fc;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 72px;
    justify-content: space-around;
}

.nav-logo {
    display: flex;
    align-items: center
}

.webstudio {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.webstudio:hover {
    color: #404bbf;
}

.webstudio:focus {
    color: #404bbf;
}





.nav-list {
    list-style-type: none;
    display: flex;
    gap: 40px;

}

.nav-link {
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    color: #2e2f42;
    text-decoration: none;
}

.nav-link:hover {
    color: #404bbf;
}

.nav-link:focus {
    color: #404bbf;
}



.address-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.adres-m {
    width: 153px;
    height: 24px;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;  
}

.adres-t {
    width: 151px;
    height: 24px;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

.adres-t:hover {
    color: #404bbf;
}

.adres-m:hover {
    color: #404bbf;
}

.adres-t:focus {
    color: #404bbf;
}

.adres-m:focus {
    color: #404bbf;
}





.effective {
    padding: 188px 0;
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;
    top: 72px;
}

.title {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px
}

.buton {
    background-color: #4d5ae5;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.5;
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0,02em;
    display: block
}

.buton:hover {
    background-color: #404bbf;
}

.buton:focus {
    background-color: #404bbf;
}




.about {
    padding: 120px 0;
}

.about-list {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.aboutli {
    width: calc((100% - 72px) / 4);
}

.about-baslik {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.about-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}




.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-baslik {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    width: calc((100% - 72px) / 4);
}

.teamli {
    background-color: #ffffff;
}

.team-unvan {
    padding: 32px 0;
}

.team-isim {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center
}




.portfolio-baslik {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-is {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfoliop {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}




.footer {
    background-color: #2e2f42;
    width: 1440px;
    height: 312px;
    top: 2988px;
}

.footerp {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.footer-logo-span {
    color: #2e2f42;
}